<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Привет</title>
    <h1>Все пользователи</h1>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Пользователи : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>